@import url(App.css);

.box {
  background-color: #1791b0;
  height: 50%;
  margin: 2.5% auto;
  max-width: 25rem;
}

.form-content {
  display: grid;
  place-items: center;
}

.form-contain {
  height: 2%;
  display: block;
}

.button {
  position: relative;
  bottom: 0;
  height: 1px;
  margin-top: 5rem;
}

.form-control {
  background-color: #82eaed;
  width: 100%;
}
