:root {
  --bg-color-blue: #1a3b4f; /* Cor de fundo azul */
  --teal-color: #a3e1e0; /* Cor verde-azulada */
  --bright-blue-color: #2596be; /* Cor azul brilhante */
  --ocean-blue-color: #1791b0; /* Cor azul oceano */
  --deep-blue-color: #397f98; /* Cor azul profundo */
  --navy-blue-color: #1a3b4f; /* Cor azul-marinho (mesma cor que bg-color-blue) */
  --emph-gold-color: #e8ba55; /* Cor de destaque dourada */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 16px;
  font-family: "Poppins", sans-serif;
  list-style: none;
}
