@charset "UTF-8";
@import url(App.css);

.title {
  text-align: center;
  margin: 2rem;
  
}
.title::after{
  display: block;
  content: " ";
  padding: .1rem;
  border-radius: 3px;
  margin: 0 auto;
  background-color: var(--navy-blue-color);
  width: 25%;
}

.box{
  border: .25rem solid #ccc;
  padding: 3rem;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
  background-color: var(--deep-blue-color);
  text-align: left;
  border-radius: 1rem;
  }

.text{
  color: white;
  font-size: 2rem;
  text-align: center;
}

.default-text{
  font-size: 1.2rem;
  font-family: var(--title-font);
  color: white;
  
}