@import url(App.css);

.title {
  margin-top: 2%;
  text-align: center;
}
.title::after {
  content: "";
  display: block;
  margin: auto;
  width: 25rem;
  height: 2.5px;
  border-radius: 5px;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}

.membro-contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  grid-gap: 2rem;
}

.membro-cadastrado {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  height: 25rem;
  overflow: auto;
  padding: 1rem;
}

.membro-encontrado {
  padding: 1rem;
}
