/* Home COM */

.center-button {
  max-width: 57vw;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
  margin: auto;
}

/* CadQrCode  */

.text {
  font-size: 2rem;
  font-family: var(--title-font);
}

.box-qrcode {
  background-color: var(--teal-color);
  width: 20vh;
  height: 20vh;
}

.contain-inputs {
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input {
  border: none;
  background-color: transparent;
  border-radius: 3px;
  border-bottom: 1.5px solid var(--bg-color-blue);
  color: var(--white);
  outline: none;
  width: 100%;
  border-radius: 0.2rem;
  padding: 0 5px;
}
.input::placeholder {
  color: var(--white);
  padding: 0 5px;
}

.box-qrcode {
  background-color: var(--teal-color);
  width: 20vh;
  height: 20vh;
}

.btn-space {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: auto;
}

#idManual {
  width: 61vh;
}

/* MonEmp*/

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 200px;
  transition: all 0.3s ease-out;
  background-color: var(--ocean-blue-color);
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card p {
  color: #a3a5ae;
  font-size: 16px;
}

.content-cards {
  box-shadow: 1px 1px 2px 1px var(--ocean-blue-color);
  border-radius: 1.5rem;
  width: 15rem;
  height: 20rem;
  margin-top: 2rem;
  text-align: center;
  background-color: var(--deep-blue-color);
}

.content-cards > h3 {
  font-family: var(--title-font);
}

.contain-cards {
  width: 85vw;
  height: 75vh;
  overflow: auto;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.icon-emp {
  margin: 10px auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--teal-color);
}

.emp-desc {
  color: black;
  font-family: var(--flutuant-font);
}

.valor-emp {
  border-color: var(--emph-gold-color);
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: var(--navy-blue-color);
  border-radius: 2rem;
  width: 50%;
  padding: 0.25rem 0 0 0;
  border: 3px solid var(--emph-gold-color);
}

.price-emp {
  font-family: var(--flutuant-font);
  color: var(--emph-gold-color);
}

.button-ler-mais {
  background-color: var(--ocean-blue-color);
  padding: 0 5px;
  border: none;
  border-bottom: 2px solid var(--bg-color-blue);
  border-radius: 3px;
}
