/* CadQrCode  */

.text{
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box-qrcode{
    background-color: var(--teal-color);
    width: 20vh;
    height: 20vh;
}

.input{
    margin-left: 1vh;
    border: none;
    border-radius: 0.2rem;
    margin-top: 2rem;
}

/* AddCred */

h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* AddEmp */