@charset "UTF-8";
@import url(App.css);

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content {
  width: 72vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.membro-contain {
  width: 75vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  height: 50vh;
  padding: 1rem;
  overflow: auto;
}

.membro {
  box-shadow: 5px 5px 0px var(--navy-blue-color);
}
