@charset "UTF-8";
@import url(App.css);

/* Add Membro */
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.content {
  width: 72vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.membro-contain {
  width: 75vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  height: 50vh;
  padding: 1rem;
  overflow: auto;
}
.membro {
  box-shadow: 5px 5px 0px var(--navy-blue-color);
}
/*  */

/* Home ADM */
.button {
  margin: 0 auto;
  display: block;
  font-size: 2rem;
  letter-spacing: 1px;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 1em;
  text-decoration: none;
  border-bottom: 2px solid var(--deep-blue-color);
  margin-top: 5rem;
}
/*  */

/* Cadastrar membro */
.box {
  box-shadow: 0 0 5px var(--shadow);
  padding: 3rem;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  background-color: var(--deep-blue-color);
  text-align: left;
  border-radius: 1rem;
}

.button {
  text-align: center;
  margin-top: 2rem;
}

/*  */
